.hero {
  background-color: var(--hero-background-color);

  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Desktop/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px var(--shadow-color);
  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color-opposit);

    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  &__button {
    min-width: 216px;

    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
  }
}
